<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source = Computer-1;&#xD;&#xA;                           Initial Catalog = PasswordManager;&#xD;&#xA;                           Integrated Security = True;"


         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <applicationSettings>
        <PasswordManager.Properties.Settings>
            <setting name="ProjectName" serializeAs="String">
                <value>Password Manager</value>
            </setting>
        </PasswordManager.Properties.Settings>
    </applicationSettings>
</configuration>